*{
    padding: 0;
    margin: 0;
}
.btn-primary{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f50a97;
    /* background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%)); */
}

.btn-primary:hover{
    background-color: #FFF;
    color: black;
    border: 1px solid #f50a97;

}
nav{
    display: flex;
    justify-content: space-around;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.logo{
    display: flex;
    font-weight: 700;
    font-size: 20px;
    
}
.logo span{
    color: #f50a97;
}
.logo h1{
    padding-left: 10px;
}
.logo img{
    width: 80px;
    height: 35px;
}

.menu{
    padding-top: 23px;
}
.menu ul li{
    list-style-type:  none;
    display: inline;
    padding: 40px;
    

}

.menu ul li a{
    text-decoration: none;
    font-size: 18px;

}

.menu ul .follow{
    background: rgba(11, 2, 35, 0.10);
    /* border-radius: 10px; */
    padding: 10px;
    border: 2px solid ;
}

/* banner part */

.banner-section{
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    background: #FFF;


}

.banner-item{
    padding: 40px;
    margin-top: 50px;
}
.banner-item ul li{
    list-style-type: none;
    padding-left: 10px;
    font-size: 20px;
}
.banner-item h3{
   font-size: 40px;
   font-weight: 400;
   padding-left: 10px;
}

.banner-item h1{
    font-size: 60px;
    padding-right: 30px;
    text-align: center;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.btn-go{
    padding: 10px 15px;
    border-radius: 48px;
    background: #4EC5F7;
}
.btn-go:hover{
    background-color: white;
    color: black;
    border: 1px solid #f50a97;
}
.img img{
    width: 430px;
}


/* Gamer */

.gamer{
    
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.gamer-item{
    display: flex;
    justify-content: space-around;
    margin-left: 225px;
    width: 1140px;
    margin-top: 43px;
    margin-bottom: 40px;
}
.gamer-item img{
    width: 540px;
}

.gamer-content {
    text-align: end;
    padding-top: 30px;
    padding-left: 83px;
  }

  .gamer-content h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

font-size: 30px;
font-weight: 700;
  }

  /* Card */
  .card-text {
    text-align: center;
    padding: 30px;
  }

  .container{
    position: relative;
    width: 50%;
  }
  
  .card-text span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .card-content {
    display: flex;
    justify-content: space-around;
  }

  .card-content img{
    width: 250px;
    opacity: 1;
    display: block;
    transition: 0.5s;
    backface-visibility: hidden;
  }

  .middle{

    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    align-items: center;

   }

   .container:hover img{
    opacity: 0.3;
   }

   .container:hover .middle{
    opacity: 1;
   }

   .icon{
    color: black;
    width: px;
    
   }


.card-part{
    text-align: center;
}

.card-content {
  display: flex;
  justify-content: space-around;
  width: 1191px;
  /* background: wheat; */
  margin-left: 201px;
}

/* games-name */

.games-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button-games {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* background-color: wheat; */
    width: 1140px;
    margin-left: 158px;
    padding: 75px;
    gap: 22px;
    
  }

.games-name{
    display: flex;
    
}
.games-name p{
    padding: 10px;
}
.games-name img{
    width: 40px;
}

.games-name:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    border: 1px solid  #FF42A5;
    border-radius: 30px;
    padding: 5px;
   
}

/* play */

.play {
    display: flex;
    justify-content: space-around;
    padding: 75px;
    width: 993px;
    margin-left: 220px;
    gap: 53px;
    height: 520px;
    /* background-color: wheat; */
  }

.play-text{
    padding: 105px;
    padding-left: 0;
    text-align: end;
}

.play-text h1{
    font-size: 46px;
}
.play-text span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
#img-2 {
    margin-top: 0;
    padding: 0;
    position: relative;
    top: -160px;
    right: 108px;
  }

/* footer */
footer{
    background: #0B0223;
    color: white;
    text-align: center;
    height: 250px;
    padding-top: 40px;
}

div{
    padding-top: 15px;
}

.logo-part{
    display: flex;
    margin-left: 690px;
}

.logo-part img{
    width: 70px;
}

.logo-part span{
    color: #f50a97;
}

.footer-icon{
    gap: 20px;
}

.footer-menu ul li{
  list-style-type: none;
  display: inline;
  padding: 15px;
}

.footer-menu ul li a{
    text-decoration: none;
    color: white;
}


/* Responsive */
@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        padding: 83px;
        margin-top: -43px;
        text-align: center;
        align-items: center;
       
    }
     .menu ul .follow{
        /* padding: 20px; */
        border: 0px;
        padding-top: 20px;
        margin-top: 20px;
        background: #FFF;
    }
    .menu{
       display: block;
    }
    .logo{
        flex-direction: column;

    }
    .logo img{
        padding-left: 12px;
    }

    .banner-section{
        flex-direction: column;
        flex-direction: column-reverse;
    }
   .banner-section img{
    width: 100%;

   }
   .banner-item{
    padding: 0;
    text-align: center;
    }
   .gamer{
    margin-top: 40px;
   }
    .gamer-item{
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .gamer-item>img{
        width: 100%;
    }
    .gamer-content{
        text-align: center;
        padding: 0;
        margin-top: 30px;
    }

    .card{
       flex-direction: column;
       width: 100%;
    }
    .card-content{
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;  
        width: 100%; 
     }
     .play{
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
        margin-bottom: 300px;
     }
     .play-text {
        margin-top: 652px;
        padding: 20px;
        text-align: center;
      }
      .play-img img{
        width: 87%;
        margin: 35px;
      }
      .play-img>#img-2{
        width: 42%;
        height: 29%;
       margin-left: 104px;
      }
       .games-section{
        margin-top: 400px;
       }
      .button-games{
        padding-left: 10px;
        margin: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
      }

    footer{
        margin-top: 130px;
        text-align: center;
        width: 100%;
        height: 100%;
        padding-bottom: 40px;
    }
    .logo-part{
        margin: 0;
        padding-left: 100px;
    }
    .footer-menu{
     padding: 0;
      display: grid;
      grid-template-columns: repeat();
    }
      
    }


    @media screen and (min-width: 576px) and (max-width: 992px){
        nav{
            flex-direction: column;
            padding: 83px;
            margin-top: -43px;
            text-align: center;
            align-items: center;
        }
        .menu{
           display: block;
           
        }
        .logo{
            flex-direction: column;
    
        }
        .logo img{
            padding-left: 12px;
        }
    
        .banner-section{
            flex-direction: column;
            flex-direction: column-reverse;
        }
       .banner-section img{
        width: 100%;
    
       }
       .banner-item{
        padding: 0;
        text-align: center;
        }
       .gamer{
        margin-top: 40px;
       }
        .gamer-item{
            flex-direction: column;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .gamer-item>img{
            width: 100%;
        }
        .gamer-content{
            text-align: center;
            padding: 0;
            margin-top: 30px;
        }
    
        .card{
           flex-direction: column;
           width: 100%;
        }
        .card-content{
            padding: 0;
            margin: 0;
            flex-direction: column;
            align-items: center;  
            width: 100%; 
         }
         .play{
            flex-direction: column;
            padding: 0;
            margin: 0;
            width: 100%;
            margin-bottom: 300px;
         }
         .play-text {
            margin-top: 652px;
            padding: 20px;
            text-align: center;
          }
          .play-img img{
            width: 87%;
            margin: 35px;
          }
          .play-img>#img-2{
            width: 42%;
            height: 29%;
           margin-left: 104px;
          }
           .games-section{
            margin-top: 400px;
           }
          .button-games{
            padding-left: 10px;
            margin: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
           
          }
    
        footer{
            margin-top: 130px;
            text-align: center;
            width: 100%;
            height: 100%;
            padding-bottom: 40px;
        }
        .logo-part{
            margin: 0;
            padding-left: 100px;
        }
        .footer-menu{
         padding: 0;
          display: grid;
          grid-template-columns: repeat();
        }
          
        }
    }